openapi: 3.0.3
info:
  title: 'AgileWorks WebAPI (R3.2.0)'
  version: 1.0.0
servers:
  - url: https://sample.atled.jp/AgileWorks
  
tags:
  - name: common
  - name: DocAPI
  - name: WorkflowAPI
  - name: OrgAPI
  - name: SiteAPI
  - name: UserMasterAPI
  - name: FormAPI
  - name: PublicationAPI
  - name: NotAdminAPI
  - name: SCIMAPI/Users
  - name: SCIMAPI/Groups
  - name: SCIMAPI/ResourceTypes
  - name: SCIMAPI/Schemas
  - name: SCIMAPI/Service

paths:
  /Broker/WebApi/Model:
    get:
      tags:
        - common
      summary: モデルオブジェクト取得
      description: 
        指定のモデルオブジェクトを初期化した状態で取得します。
      operationId: model
      parameters:
        - $ref: "#/components/parameters/model_name"
      responses:
        "200":
          description: 詳細は各サービス実行APIのリクエストボディを参照してください。
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
            
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service:
    post:
      tags:
        - common
      summary: サービス実行
      description: 
        AgileWorksの各サービスを実行します。<br>
        （管理者権限必須API）管理ロールの「全てのコンテンツ、全ての業務カテゴリの権限を持つ管理ロール」を有しているユーザーで実行することができます。
        （管理者権限不要API）管理ロールの「全てのコンテンツ、全ての業務カテゴリの権限を持つ管理ロール」の所属有無に問わず、実行することができます。
      operationId: nonParameter
      parameters:
        - $ref: "#/components/parameters/service_name"
        - $ref: "#/components/parameters/service_method"
      requestBody:
        $ref: "#/components/requestBodies/nonParameter"
      responses:
        "200":
          description: すべてのサービス実行APIは共通でcommon.ResponseModel型のフィールドがレスポンスボディに含まれます。
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/resultStatus"
              example:
                value:
                  resultStatus: 
                    status: SUCCESS
                    messageList: 
                      entries: []
                    text: 
                    code: 
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
            
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Download:
    get:
      tags:
        - common
      summary: ダウンロード
      description: 
        AgileWorks上にアップロードされている各ファイルをダウンロードします。
      operationId: download
      parameters:
        - $ref: "#/components/parameters/download_s"
      responses:
        "200":
          description: |
            取得したファイル名は、Content-Disposition レスポンスヘッダに以下の形式で格納されます。<br>
            ・ファイル名が全て ASCII 文字で構成される場合<br>
            attachment;filename="<ファイル名>"<br>
            ・ファイル名に ASCII 以外の文字を含む場合<br>
            attachment;filename="<URL エンコードされたファイル名>"
          content:
            application/octet-stream:
              example:
                "ファイルの内容（バイナリデータ）" 
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=doc.Doc&method=getDocHeader:
    post:
      tags:
        - DocAPI
      summary: 書類情報取得
      description: 
        書類の各情報を取得します。
      operationId: getDocHeader
      requestBody:
        $ref: "#/components/requestBodies/getDocHeader"
      responses:
        "200":
          $ref: "#/components/responses/GetDocHeaderResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
            
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=doc.Doc&method=getDoc:
    post:
      tags:
        - DocAPI
      summary: 書類データ取得
      description: 
        書類データを取得します。
      operationId: getDoc
      requestBody:
        $ref: "#/components/requestBodies/getDoc"
      responses:
        "200":
          $ref: "#/components/responses/DocResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
          
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=doc.Doc&method=prepareDocRequest:
    post:
      tags:
        - DocAPI
      summary: 新規書類データ作成
      description: 
        初期状態の書類データを作成します。
      operationId: prepareDocRequest
      requestBody:
        $ref: "#/components/requestBodies/PrepareDocRequest"
      responses:
        "200":
          $ref: "#/components/responses/PrepareDocResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=doc.Doc&method=addDoc:
    post:
      tags:
        - DocAPI
      summary: 新規書類データ保存
      description: 
        新規に作成した書類データを保存します。<br>
        「新規書類データ作成API」で取得したdocの値を雛形として、書類の各フィールドに値をセットし、本APIにより書類データの保存を行います。<br>
        本APIで保存した書類データを画面から参照できるようにするには、さらに、「下書き保存API」あるいは「書類作成 / 申請API」を実行する必要があります。
      operationId: addDoc
      requestBody:
        $ref: "#/components/requestBodies/AddDoc"
      responses:
        "200":
          $ref: "#/components/responses/DocResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=doc.Doc&method=updateDoc:
    post:
      tags:
        - DocAPI
      summary: 書類データ更新
      description: 
        初期状態の書類データを作成します。<br>
        「書類データ取得API」または「新規書類データ保存API」で取得したdocに対し、フィールドの値を変更し、本APIにより書類データを更新することができます。
      operationId: updateDoc
      requestBody:
        $ref: "#/components/requestBodies/UpdateDoc"
      responses:
        "200":
          $ref: "#/components/responses/DocResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=doc.Doc&method=hardDeleteDoc:
    post:
      tags:
        - DocAPI
      summary: 書類物理削除
      description: 
        論理削除済みの書類を物理削除します。<br>
        論理削除を行う場合は「書類論理削除API」を参照してください。
      operationId: hardDeleteDoc
      requestBody:
        $ref: "#/components/requestBodies/hardDeleteDoc"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=doc.Doc&method=selectDoc:
    post:
      tags:
        - DocAPI
      summary: 書類検索
      description: 
        指定した条件に合致する書類の一覧を取得します。
      operationId: selectDoc
      requestBody:
        $ref: "#/components/requestBodies/SelectDoc"
      responses:
        "200":
          $ref: "#/components/responses/SelectDocResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=doc.Doc&method=getDocPdf:
    post:
      tags:
        - DocAPI
      summary: 書類PDFファイル取得
      description: 
        書類のPDFファイルを生成し、ダウンロードします。
      operationId: getDocPdf
      requestBody:
        $ref: "#/components/requestBodies/GetDocPdf"
      responses:
        "200":
          $ref: "#/components/responses/GetDocPdfResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=doc.Doc&method=listDocComment:
    post:
      tags:
        - DocAPI
      summary: 書類コメント一覧取得
      description: 
        書類のコメント一覧を取得します。
      operationId: listDocComment
      requestBody:
        $ref: "#/components/requestBodies/listDocComment"
      responses:
        "200":
          $ref: "#/components/responses/ListDocCommentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=doc.Doc&method=addDocComment:
    post:
      tags:
        - DocAPI
      summary: 書類メモ追加
      description: 
        書類のメモを追加します。
      operationId: addDocComment
      requestBody:
        $ref: "#/components/requestBodies/AddDocComment"
      responses:
        "200":
          $ref: "#/components/responses/AddDocCommentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=doc.Doc&method=deleteDocComment:
    post:
      tags:
        - DocAPI
      summary: 書類コメント / メモ削除
      description: 
        書類のコメント / メモを削除します。
      operationId: deleteDocComment
      requestBody:
        $ref: "#/components/requestBodies/DeleteDocComment"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=doc.Doc&method=addDocAttachment:
    post:
      tags:
        - DocAPI
      summary: 書類添付情報追加
      description: 
        書類の添付情報を追加します。
      operationId: AddDocAttachment
      requestBody:
        $ref: "#/components/requestBodies/AddDocAttachment"
      responses:
        "200":
          $ref: "#/components/responses/DocAttachmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=doc.Doc&method=updateDocAttachment:
    post:
      tags:
        - DocAPI
      summary: 書類添付情報更新
      description: 
        書類の添付情報を更新します。
      operationId: UpdateDocAttachment
      requestBody:
        $ref: "#/components/requestBodies/UpdateDocAttachment"
      responses:
        "200":
          $ref: "#/components/responses/DocAttachmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=doc.Doc&method=listDocAttachment:
    post:
      tags:
        - DocAPI
      summary: 書類添付情報一覧取得
      description: 
        書類の添付情報一覧を取得します。
      operationId: listDocAttachement
      requestBody:
        $ref: "#/components/requestBodies/listDocAttachement"
      responses:
        "200":
          $ref: "#/components/responses/ListDocAttachmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=doc.Doc&method=deleteDocAttachment:
    post:
      tags:
        - DocAPI
      summary: 書類添付情報削除
      description: 
        書類の添付情報を削除します。
      operationId: DeleteDocAttachment
      requestBody:
        $ref: "#/components/requestBodies/DeleteDocAttachment"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=doc.Doc&method=getDocReferencee:
    post:
      tags:
        - DocAPI
      summary: 参照元関連書類情報取得
      description: 
        参照元の関連書類情報を取得します。
      operationId: getDocReferencee
      requestBody:
        $ref: "#/components/requestBodies/getDocReferencee"
      responses:
        "200":
          $ref: "#/components/responses/GetDocReferenceeResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=doc.Doc&method=listDocReferencer:
    post:
      tags:
        - DocAPI
      summary: 参照先関連書類情報一覧取得
      description: 
        参照先の関連書類情報の一覧を取得します。
      operationId: listDocReferencer
      requestBody:
        $ref: "#/components/requestBodies/listDocReferencer"
      responses:
        "200":
          $ref: "#/components/responses/ListDocReferencerResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=doc.Doc&method=addDocReference:
    post:
      tags:
        - DocAPI
      summary: 関連書類追加
      description: 
        書類の関連付けを追加します。
      operationId: addDocReference
      requestBody:
        $ref: "#/components/requestBodies/addDocReference"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=doc.Doc&method=deleteDocReference:
    post:
      tags:
        - DocAPI
      summary: 関連書類削除
      description: 
        書類の関連付けを削除します。
      operationId: deleteDocReference
      requestBody:
        $ref: "#/components/requestBodies/deleteDocReference"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=doc.Doc&method=openDoc:
    post:
      tags:
        - DocAPI
      summary: 書類表示
      description: 
        書類を表示するHTMLをダウンロードします。
      operationId: openDoc
      requestBody:
        $ref: "#/components/requestBodies/OpenDoc"
      responses:
        "200":
          $ref: "#/components/responses/TextHtmlResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=workflow.Workflow&method=countWorkflowMessage:
    post:
      tags:
        - WorkflowAPI
      summary: 回付情報件数取得
      description: |
        回付情報の件数を取得します。
      operationId: countWorkflowMessage
      requestBody:
        $ref: "#/components/requestBodies/CountWorkflowMessage"
      responses:
        "200":
          $ref: "#/components/responses/CountResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=workflow.Workflow&method=countListWorkflowMessage:
    post:
      tags:
        - WorkflowAPI
      summary: 回付情報件数一覧取得
      description: |
        回付情報の件数の一覧を取得します。
      operationId: countListWorkflowMessage
      requestBody:
        $ref: "#/components/requestBodies/CountListWorkflowMessage"
      responses:
        "200":
          $ref: "#/components/responses/CountListWorkflowMessageResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=workflow.Workflow&method=selectWorkflowMessage:
    post:
      tags:
        - WorkflowAPI
      summary: 回付情報検索
      description: |
        回付情報の一覧を検索します。
      operationId: selectWorkflowMessage
      requestBody:
        $ref: "#/components/requestBodies/SelectWorkflowMessage"
      responses:
        "200":
          $ref: "#/components/responses/SelectWorkflowMessageResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=workflow.Workflow&method=draft:
    post:
      tags:
        - WorkflowAPI
      summary: 書類下書き保存
      description: |
        書類を下書き保存します。
      operationId: DocDraft
      requestBody:
        $ref: "#/components/requestBodies/DocDraft"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=workflow.Workflow&method=start:
    post:
      tags:
        - WorkflowAPI
      summary: 書類作成/申請
      description: |
        書類を作成または申請します。
      operationId: DocStart
      requestBody:
        $ref: "#/components/requestBodies/DocStart"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=workflow.Workflow&method=approve:
    post:
      tags:
        - WorkflowAPI
      summary: 書類承認
      description: |
        書類を承認します。
      operationId: DocApprove
      requestBody:
        $ref: "#/components/requestBodies/DocApprove"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=workflow.Workflow&method=delete:
    post:
      tags:
        - WorkflowAPI
      summary: 書類論理削除
      description: |
        書類を論理削除します。
      operationId: DocDelete
      requestBody:
        $ref: "#/components/requestBodies/DocDelete"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=workflow.Workflow&method=remand:
    post:
      tags:
        - WorkflowAPI
      summary: 書類差戻し
      description: |
        書類を差戻します。
      operationId: DocRemand
      requestBody:
        $ref: "#/components/requestBodies/DocRemand"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=workflow.Workflow&method=retract:
    post:
      tags:
        - WorkflowAPI
      summary: 書類引戻し
      description: |
        書類を引戻します。
      operationId: DocRetract
      requestBody:
        $ref: "#/components/requestBodies/DocRetract"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=workflow.Workflow&method=reject:
    post:
      tags:
        - WorkflowAPI
      summary: 書類却下
      description: |
        書類を却下します。
      operationId: DocReject
      requestBody:
        $ref: "#/components/requestBodies/DocReject"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=workflow.Workflow&method=getWorkflowInfo:
    post:
      tags:
        - WorkflowAPI
      summary: 回付情報取得
      description: |
        回付情報を取得します。
      operationId: getWorkflowInfo
      requestBody:
        $ref: "#/components/requestBodies/getWorkflowInfo"
      responses:
        "200":
          $ref: "#/components/responses/GetWorkflowInfoResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=workflow.Workflow&method=findWorkflowTask:
    post:
      tags:
        - WorkflowAPI
      summary: 回付情報タスク検索
      description: |
        回付情報タスクを検索します。
      operationId: findWorkflowTask
      requestBody:
        $ref: "#/components/requestBodies/FindWorkflowTask"
      responses:
        "200":
          $ref: "#/components/responses/FindWorkflowTaskResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=workflow.Workflow&method=listWorkflowJournal:
    post:
      tags:
        - WorkflowAPI
      summary: 回付履歴一覧取得
      description: |
        回付履歴の一覧を取得します。
      operationId: listWorkflowJournal
      requestBody:
        $ref: "#/components/requestBodies/listWorkflowJournal"
      responses:
        "200":
          $ref: "#/components/responses/ListWorkflowJournalResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=workflow.Workflow&method=listElectJournal:
    post:
      tags:
        - WorkflowAPI
      summary: 処理者変更履歴一覧取得
      description: |
        処理者変更履歴の一覧を取得します。
      operationId: listElectJournal
      requestBody:
        $ref: "#/components/requestBodies/listElectJournal"
      responses:
        "200":
          $ref: "#/components/responses/ListElectJournalResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=workflow.Workflow&method=listShareJournal:
    post:
      tags:
        - WorkflowAPI
      summary: 共有履歴一覧取得
      description: |
        共有履歴の一覧を取得します。
      operationId: listShareJournal
      requestBody:
        $ref: "#/components/requestBodies/listShareJournal"
      responses:
        "200":
          $ref: "#/components/responses/ListShareJournalResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=addUser:
    post:
      tags:
        - OrgAPI
      summary: ユーザー作成
      description: |
        ユーザーを作成します。
      operationId: AddUser
      requestBody:
        $ref: "#/components/requestBodies/AddUser"
      responses:
        "200":
          $ref: "#/components/responses/UserResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
            
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=findUser:
    post:
      tags:
        - OrgAPI
      summary: ユーザー参照
      description: |
        指定されたパラメータのユーザーを参照します。<br>
        ユーザーの参照には、基準日を指定する必要があります。<br>
        指定した基準日が適用期間内に含まれるユーザーを参照します。<br>
        また、columnValueConditionListで検索条件を指定できます。
      operationId: FindUser
      requestBody:
        $ref: "#/components/requestBodies/FindUser"
      responses:
        "200":
          $ref: "#/components/responses/FindUserResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
            
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=updateUser:
    post:
      tags:
        - OrgAPI
      summary: ユーザー更新
      description:
        ユーザーを更新します。
      operationId: UpdateUser
      requestBody:
        $ref: "#/components/requestBodies/UpdateUser"
      responses:
        "200":
          $ref: "#/components/responses/UserResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
          
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=deleteUser:
    post:
      tags:
        - OrgAPI
      summary: ユーザー削除
      description:
        ユーザーを削除します。
      operationId: DeleteUser
      requestBody:
        $ref: "#/components/requestBodies/DeleteUser"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
            
 # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=disableUser:
    post:
      tags:
        - OrgAPI
      summary: ユーザー適用終了
      description:
        ユーザーを適用終了します。
      operationId: DisableUser
      requestBody:
        $ref: "#/components/requestBodies/DisableUser"
      responses:
        "200":
          $ref: "#/components/responses/DisableUserResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"

 # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=addUnit:
    post:
      tags:
        - OrgAPI
      summary: 組織作成
      description:
        組織を作成します。
      operationId: addUnit
      requestBody:
        $ref: "#/components/requestBodies/AddUnit"
      responses:
        "200":
          $ref: "#/components/responses/UnitResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=findUnit:
    post:
      tags:
        - OrgAPI
      summary: 組織参照
      description:
        組織を参照します。
      operationId: findUnit
      requestBody:
        $ref: "#/components/requestBodies/FindUnit"
      responses:
        "200":
          $ref: "#/components/responses/FindUnitResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=updateUnit:
    post:
      tags:
        - OrgAPI
      summary: 組織更新
      description:
        組織を更新します。
      operationId: updateUnit
      requestBody:
        $ref: "#/components/requestBodies/UpdateUnit"
      responses:
        "200":
          $ref: "#/components/responses/UnitResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=deleteUnit:
    post:
      tags:
        - OrgAPI
      summary: 組織削除
      description:
        組織を削除します。
      operationId: deleteUnit
      requestBody:
        $ref: "#/components/requestBodies/DeleteUnit"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=disableUnit:
    post:
      tags:
        - OrgAPI
      summary: 組織適用終了
      description:
        組織を適用終了します。
      operationId: disableUnit
      requestBody:
        $ref: "#/components/requestBodies/DisableUnit"
      responses:
        "200":
          $ref: "#/components/responses/DisableUnitResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=addSectionRole:
    post:
      tags:
        - OrgAPI
      summary: セクションロール作成
      description:
        セクションロールを作成します。
      operationId: addSectionRole
      requestBody:
        $ref: "#/components/requestBodies/AddSectionRole"
      responses:
        "200":
          $ref: "#/components/responses/SectionRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=findSectionRole:
    post:
      tags:
        - OrgAPI
      summary: セクションロール参照
      description:
        セクションロールを参照します。
      operationId: findSectionRole
      requestBody:
        $ref: "#/components/requestBodies/FindSectionRole"
      responses:
        "200":
          $ref: "#/components/responses/FindSectionRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=updateSectionRole:
    post:
      tags:
        - OrgAPI
      summary: セクションロール更新
      description:
        セクションロールを更新します。
      operationId: updateSectionRole
      requestBody:
        $ref: "#/components/requestBodies/UpdateSectionRole"
      responses:
        "200":
          $ref: "#/components/responses/SectionRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=deleteSectionRole:
    post:
      tags:
        - OrgAPI
      summary: セクションロール削除
      description:
        セクションロールを削除します。
      operationId: deleteSectionRole
      requestBody:
        $ref: "#/components/requestBodies/DeleteSectionRole"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=addSectionRoleGroup:
    post:
      tags:
        - OrgAPI
      summary: セクションロールグループ作成
      description:
        セクションロールグループを作成します。
      operationId: addSectionRoleGroup
      requestBody:
        $ref: "#/components/requestBodies/AddSectionRoleGroup"
      responses:
        "200":
          $ref: "#/components/responses/SectionRoleGroupResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=findSectionRoleGroup:
    post:
      tags:
        - OrgAPI
      summary: セクションロールグループ参照
      description:
        セクションロールグループを参照します。
      operationId: findSectionRoleGroup
      requestBody:
        $ref: "#/components/requestBodies/FindSectionRoleGroup"
      responses:
        "200":
          $ref: "#/components/responses/FindSectionRoleGroupResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=updateSectionRoleGroup:
    post:
      tags:
        - OrgAPI
      summary: セクションロールグループ更新
      description:
        セクションロールグループを更新します。
      operationId: updateSectionRoleGroup
      requestBody:
        $ref: "#/components/requestBodies/UpdateSectionRoleGroup"
      responses:
        "200":
          $ref: "#/components/responses/SectionRoleGroupResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=deleteSectionRoleGroup:
    post:
      tags:
        - OrgAPI
      summary: セクションロールグループ削除
      description:
        セクションロールグループを削除します。
      operationId: deleteSectionRoleGroup
      requestBody:
        $ref: "#/components/requestBodies/DeleteSectionRoleGroup"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=addUnitAppointment:
    post:
      tags:
        - OrgAPI
      summary: 組織所属作成
      description:
        組織所属を作成します。
      operationId: addUnitAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddUnitAppointment"
      responses:
        "200":
          $ref: "#/components/responses/UnitAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=findUnitAppointment:
    post:
      tags:
        - OrgAPI
      summary: 組織所属参照
      description:
        組織所属を参照します。
      operationId: findUnitAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindUnitAppointment"
      responses:
        "200":
          $ref: "#/components/responses/FindUnitAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=updateUnitAppointment:
    post:
      tags:
        - OrgAPI
      summary: 組織所属更新
      description:
        組織所属を更新します。
      operationId: updateUnitAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdateUnitAppointment"
      responses:
        "200":
          $ref: "#/components/responses/UnitAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=deleteUnitAppointment:
    post:
      tags:
        - OrgAPI
      summary: 組織所属削除
      description:
        組織所属を削除します。
      operationId: deleteUnitAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeleteUnitAppointment"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=disableUnitAppointment:
    post:
      tags:
        - OrgAPI
      summary: 組織所属適用終了
      description:
        組織所属を適用終了します。
      operationId: disableUnitAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisableUnitAppointment"
      responses:
        "200":
          $ref: "#/components/responses/DisableUnitAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=addProxyApplyAppointment:
    post:
      tags:
        - OrgAPI
      summary: 代理申請作成
      description:
        代理申請を作成します。
      operationId: addProxyApplyAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddProxyApplyAppointment"
      responses:
        "200":
          $ref: "#/components/responses/ProxyApplyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=findProxyApplyAppointment:
    post:
      tags:
        - OrgAPI
      summary: 代理申請参照
      description:
        代理申請を参照します。
      operationId: findProxyApplyAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindProxyApplyAppointment"
      responses:
        "200":
          $ref: "#/components/responses/FindProxyApplyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=updateProxyApplyAppointment:
    post:
      tags:
        - OrgAPI
      summary: 代理申請更新
      description:
        代理申請を更新します。
      operationId: updateProxyApplyAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdateProxyApplyAppointment"
      responses:
        "200":
          $ref: "#/components/responses/ProxyApplyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=deleteProxyApplyAppointment:
    post:
      tags:
        - OrgAPI
      summary: 代理申請削除
      description:
        代理申請を削除します。
      operationId: deleteProxyApplyAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeleteProxyApplyAppointment"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=disableProxyApplyAppointment:
    post:
      tags:
        - OrgAPI
      summary: 代理申請適用終了
      description:
        代理申請を適用終了します。
      operationId: disableProxyApplyAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisableProxyApplyAppointment"
      responses:
        "200":
          $ref: "#/components/responses/DisableProxyApplyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=addProxyAppointment:
    post:
      tags:
        - OrgAPI
      summary: 代理承認作成
      description:
        代理承認を作成します。
      operationId: addProxyAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddProxyAppointment"
      responses:
        "200":
          $ref: "#/components/responses/ProxyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=findProxyAppointment:
    post:
      tags:
        - OrgAPI
      summary: 代理承認参照
      description:
        代理承認を参照します。
      operationId: findProxyAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindProxyAppointment"
      responses:
        "200":
          $ref: "#/components/responses/FindProxyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=updateProxyAppointment:
    post:
      tags:
        - OrgAPI
      summary: 代理承認更新
      description:
        代理承認を更新します。
      operationId: updateProxyAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdateProxyAppointment"
      responses:
        "200":
          $ref: "#/components/responses/ProxyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=deleteProxyAppointment:
    post:
      tags:
        - OrgAPI
      summary: 代理承認削除
      description:
        代理承認を削除します。
      operationId: deleteProxyAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeleteProxyAppointment"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=disableProxyAppointment:
    post:
      tags:
        - OrgAPI
      summary: 代理承認適用終了
      description:
        代理承認を適用終了します。
      operationId: disableProxyAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisableProxyAppointment"
      responses:
        "200":
          $ref: "#/components/responses/DisableProxyAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=addDelegationAppointment:
    post:
      tags:
        - OrgAPI
      summary: 権限委譲作成
      description:
        権限委譲を作成します。
      operationId: addDelegationAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddDelegationAppointment"
      responses:
        "200":
          $ref: "#/components/responses/DelegationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=findDelegationAppointment:
    post:
      tags:
        - OrgAPI
      summary: 権限委譲参照
      description:
        権限委譲を参照します。
      operationId: findDelegationAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindDelegationAppointment"
      responses:
        "200":
          $ref: "#/components/responses/FindDelegationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=updateDelegationAppointment:
    post:
      tags:
        - OrgAPI
      summary: 権限委譲更新
      description:
        権限委譲を更新します。
      operationId: updateDelegationAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdateDelegationAppointment"
      responses:
        "200":
          $ref: "#/components/responses/DelegationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=deleteDelegationAppointment:
    post:
      tags:
        - OrgAPI
      summary: 権限委譲削除
      description:
        権限委譲を削除します。
      operationId: deleteDelegationAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeleteDelegationAppointment"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=disableDelegationAppointment:
    post:
      tags:
        - OrgAPI
      summary: 権限委譲適用終了
      description:
        権限委譲を適用終了します。
      operationId: disableDelegationAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisableDelegationAppointment"
      responses:
        "200":
          $ref: "#/components/responses/DisableDelegationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=addDeprivationAppointment:
    post:
      tags:
        - OrgAPI
      summary: 引上げ権限作成
      description:
        引上げ権限を作成します。
      operationId: addDeprivationAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddDeprivationAppointment"
      responses:
        "200":
          $ref: "#/components/responses/DeprivationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=findDeprivationAppointment:
    post:
      tags:
        - OrgAPI
      summary: 引上げ権限参照
      description:
        引上げ権限を参照します。
      operationId: findDeprivationAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindDeprivationAppointment"
      responses:
        "200":
          $ref: "#/components/responses/FindDeprivationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=updateDeprivationAppointment:
    post:
      tags:
        - OrgAPI
      summary: 引上げ権限更新
      description:
        引上げ権限を更新します。
      operationId: updateDeprivationAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdateDeprivationAppointment"
      responses:
        "200":
          $ref: "#/components/responses/DeprivationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=deleteDeprivationAppointment:
    post:
      tags:
        - OrgAPI
      summary: 引上げ権限削除
      description:
        引上げ権限を削除します。
      operationId: deleteDeprivationAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeleteDeprivationAppointment"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=disableDeprivationAppointment:
    post:
      tags:
        - OrgAPI
      summary: 引上げ権限適用終了
      description:
        引上げ権限を適用終了します。
      operationId: disableDeprivationAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisableDeprivationAppointment"
      responses:
        "200":
          $ref: "#/components/responses/DisableDeprivationAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=addPrivateRole:
    post:
      tags:
        - OrgAPI
      summary: プライベートロール作成
      description:
        プライベートロールを作成します。
      operationId: addPrivateRole
      requestBody:
        $ref: "#/components/requestBodies/AddPrivateRole"
      responses:
        "200":
          $ref: "#/components/responses/PrivateRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=findPrivateRole:
    post:
      tags:
        - OrgAPI
      summary: プライベートロール参照
      description:
        プライベートロールを参照します。
      operationId: findPrivateRole
      requestBody:
        $ref: "#/components/requestBodies/FindPrivateRole"
      responses:
        "200":
          $ref: "#/components/responses/FindPrivateRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=updatePrivateRole:
    post:
      tags:
        - OrgAPI
      summary: プライベートロール更新
      description:
        プライベートロールを更新します。
      operationId: updatePrivateRole
      requestBody:
        $ref: "#/components/requestBodies/UpdatePrivateRole"
      responses:
        "200":
          $ref: "#/components/responses/PrivateRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=deletePrivateRole:
    post:
      tags:
        - OrgAPI
      summary: プライベートロール削除
      description:
        プライベートロールを削除します。
      operationId: deletePrivateRole
      requestBody:
        $ref: "#/components/requestBodies/DeletePrivateRole"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=addPrivateRoleAppointment:
    post:
      tags:
        - OrgAPI
      summary: プライベートロール所属作成
      description:
        プライベートロール所属を作成します。
      operationId: addPrivateRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddPrivateRoleAppointment"
      responses:
        "200":
          $ref: "#/components/responses/PrivateRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=findPrivateRoleAppointment:
    post:
      tags:
        - OrgAPI
      summary: プライベートロール所属参照
      description:
        プライベートロール所属を参照します。
      operationId: findPrivateRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindPrivateRoleAppointment"
      responses:
        "200":
          $ref: "#/components/responses/FindPrivateRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=updatePrivateRoleAppointment:
    post:
      tags:
        - OrgAPI
      summary: プライベートロール所属更新
      description:
        プライベートロール所属を更新します。
      operationId: updatePrivateRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdatePrivateRoleAppointment"
      responses:
        "200":
          $ref: "#/components/responses/PrivateRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=deletePrivateRoleAppointment:
    post:
      tags:
        - OrgAPI
      summary: プライベートロール所属削除
      description:
        プライベートロール所属を削除します。
      operationId: deletePrivateRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeletePrivateRoleAppointment"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=disablePrivateRoleAppointment:
    post:
      tags:
        - OrgAPI
      summary: プライベートロール所属適用終了
      description:
        プライベートロール所属を適用終了します。
      operationId: DisablePrivateRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisablePrivateRoleAppointment"
      responses:
        "200":
          $ref: "#/components/responses/DisablePrivateRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=addUniversalRole:
    post:
      tags:
        - OrgAPI
      summary: ユニバーサルロール作成
      description:
        ユニバーサルロールを作成します。
      operationId: AddUniversalRole
      requestBody:
        $ref: "#/components/requestBodies/AddUniversalRole"
      responses:
        "200":
          $ref: "#/components/responses/UniversalRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=findUniversalRole:
    post:
      tags:
        - OrgAPI
      summary: ユニバーサルロール参照
      description:
        ユニバーサルロールを参照します。
      operationId: FindUniversalRole
      requestBody:
        $ref: "#/components/requestBodies/FindUniversalRole"
      responses:
        "200":
          $ref: "#/components/responses/FindUniversalRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=updateUniversalRole:
    post:
      tags:
        - OrgAPI
      summary: ユニバーサルロール更新
      description:
        ユニバーサルロールを更新します。
      operationId: updateUniversalRole
      requestBody:
        $ref: "#/components/requestBodies/UpdateUniversalRole"
      responses:
        "200":
          $ref: "#/components/responses/UniversalRoleResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=deleteUniversalRole:
    post:
      tags:
        - OrgAPI
      summary: ユニバーサルロール削除
      description:
        ユニバーサルロールを削除します。
      operationId: deleteUniversalRole
      requestBody:
        $ref: "#/components/requestBodies/DeleteUniversalRole"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=addUniversalRoleAppointment:
    post:
      tags:
        - OrgAPI
      summary: ユニバーサルロール所属作成
      description:
        ユニバーサルロール所属を作成します。
      operationId: AddUniversalRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/AddUniversalRoleAppointment"
      responses:
        "200":
          $ref: "#/components/responses/UniversalRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=findUniversalRoleAppointment:
    post:
      tags:
        - OrgAPI
      summary: ユニバーサルロール所属参照
      description:
        ユニバーサル所属を参照します。
      operationId: findUniversalRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/FindUniversalRoleAppointment"
      responses:
        "200":
          $ref: "#/components/responses/FindUniversalRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=updateUniversalRoleAppointment:
    post:
      tags:
        - OrgAPI
      summary: ユニバーサルロール所属更新
      description:
        ユニバーサルロール所属を更新します。
      operationId: updateUniversalRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/UpdateUniversalRoleAppointment"
      responses:
        "200":
          $ref: "#/components/responses/UniversalRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
 # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=deleteUniversalRoleAppointment:
    post:
      tags:
        - OrgAPI
      summary: ユニバーサルロール所属削除
      description:
        ユニバーサルロール所属を削除します。
      operationId: deleteUniversalRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/DeleteUniversalRoleAppointment"
      responses:
        "200":
          $ref: "#/components/responses/ResultStatusResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
 
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=org.Org&method=disableUniversalRoleAppointment:
    post:
      tags:
        - OrgAPI
      summary: ユニバーサルロール所属適用終了
      description:
        ユニバーサルロール所属を適用終了します。
      operationId: disableUniversalRoleAppointment
      requestBody:
        $ref: "#/components/requestBodies/DisableUniversalRoleAppointment"
      responses:
        "200":
          $ref: "#/components/responses/DisableUniversalRoleAppointmentResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=site.Site&method=findProject:
    post:
      tags:
        - SiteAPI
      summary: 業務カテゴリ一覧取得
      description:
        業務カテゴリ一覧を取得します。
      operationId: findProject
      requestBody:
        $ref: "#/components/requestBodies/FindProject"
      responses:
        "200":
          $ref: "#/components/responses/FindProjectResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=usermaster.UserMaster&method=importTinyUserMaster:
    post:
      tags:
        - UserMasterAPI
      summary: 外部マスタ(標準)取込
      description:
        外部マスタ(標準)をインポートします。
      operationId: importTinyUserMaster
      requestBody:
        $ref: "#/components/requestBodies/ImportTinyUserMaster"
      responses:
        "200":
          $ref: "#/components/responses/CountResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=usermaster.UserMaster&method=exportTinyUserMaster:
    post:
      tags:
        - UserMasterAPI
      summary: 外部マスタ(標準)取得
      description:
        外部マスタ(標準)をエクスポートします。
      operationId: exportTinyUserMaster
      requestBody:
        $ref: "#/components/requestBodies/exportTinyUserMaster"
      responses:
        "200":
          $ref: "#/components/responses/CsvResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=usermaster.UserMaster&method=importUserMaster:
    post:
      tags:
        - UserMasterAPI
      summary: 外部マスタ(拡張)取込
      description:
        外部マスタ(拡張)をインポートします。
      operationId: importUserMaster
      requestBody:
        $ref: "#/components/requestBodies/ImportUserMaster"
      responses:
        "200":
          $ref: "#/components/responses/CountResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=usermaster.UserMaster&method=exportUserMaster:
    post:
      tags:
        - UserMasterAPI
      summary: 外部マスタ(拡張)取得
      description:
        外部マスタ(拡張)をエクスポートします。
      operationId: exportUserMaster
      requestBody:
        $ref: "#/components/requestBodies/ExportUserMaster"
      responses:
        "200":
          $ref: "#/components/responses/CsvResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=form.Form&method=listComponentMasterWindow:
    post:
      tags:
        - FormAPI
      summary: マスター参照コンポーネント一覧取得
      description:
        マスター参照コンポーネント一覧を取得します。
      operationId: listComponentMasterWindow
      requestBody:
        $ref: "#/components/requestBodies/listComponentMasterWindow"
      responses:
        "200":
          $ref: "#/components/responses/ListComponentMasterWindowResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=form.Form&method=listComponentAutoNumber:
    post:
      tags:
        - FormAPI
      summary: 自動採番コンポーネント一覧取得
      description:
        自動採番コンポーネント一覧を取得します。
      operationId: listComponentAutoNumber
      requestBody:
        $ref: "#/components/requestBodies/listComponentAutoNumber"
      responses:
        "200":
          $ref: "#/components/responses/ListComponentAutoNumberResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=form.Form&method=listForm:
    post:
      tags:
        - FormAPI
      summary: 登録フォーム一覧取得
      description:
        登録フォーム一覧を取得します。
      operationId: listForm
      requestBody:
        $ref: "#/components/requestBodies/ListForm"
      responses:
        "200":
          $ref: "#/components/responses/ListFormResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=form.Form&method=findFormDefinition:
    post:
      tags:
        - FormAPI
      summary: フォーム定義情報取得
      description:
        フォーム定義情報を取得します。
      operationId: findFormDefinition
      requestBody:
        $ref: "#/components/requestBodies/FindFormDefinition"
      responses:
        "200":
          $ref: "#/components/responses/FindFormDefinitionResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=publication.Publication&method=listPublicFolderInfo:
    post:
      tags:
        - PublicationAPI
      summary: 公開フォルダ・公開フォーム取得
      description:
        公開フォルダ・公開フォーム一覧を取得します。
      operationId: listPublicFolderInfo
      requestBody:
        $ref: "#/components/requestBodies/ListPublicFolderInfo"
      responses:
        "200":
          $ref: "#/components/responses/ListPublicFolderInfoResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=userfunc.doc.Doc&method=prepareDocRequest:
    post:
      tags:
        - NotAdminAPI
      summary: (管理者権限不要) 新規書類データ作成
      description:
        初期状態の書類データを作成する API です。<br>
        取得したレスポンスは「新規書類データ保存 API」で使用できます。
      operationId: notAdminPrepareDocRequest
      requestBody:
        $ref: "#/components/requestBodies/NotAdminPrepareDocRequest"
      responses:
        "200":
          $ref: "#/components/responses/NotAdminPrepareDocResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=userfunc.doc.Doc&method=addDoc:
    post:
      tags:
        - NotAdminAPI
      summary: （管理者権限不要）新規書類データ保存
      description: 
        新規に作成した書類データを保存します。<br>
        「新規書類データ作成API」で取得したdocの値を雛形として、書類の各フィールドに値をセットし、本APIにより書類データの保存を行います。<br>
        本APIで保存した書類データを画面から参照できるようにするには、さらに「書類作成 / 申請API」を実行する必要があります。
      operationId: notAdminAddDoc
      requestBody:
        $ref: "#/components/requestBodies/NotAdminAddDoc"
      responses:
        "200":
          $ref: "#/components/responses/NotAdminDocResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=userfunc.doc.Doc&method=selectDoc:
    post:
      tags:
        - NotAdminAPI
      summary: (管理者権限不要) 書類検索
      description:
        API 実行ユーザーが閲覧可能且つ<br>
        指定した条件に合致する書類の一覧を取得する API です。
      operationId: notAdminSelectDoc
      requestBody:
        $ref: "#/components/requestBodies/NotAdminSelectDoc"
      responses:
        "200":
          $ref: "#/components/responses/SelectDocResponses200"
        "400":
          $ref: "#/components/responses/ErrorResponses400"
        "401":
          $ref: "#/components/responses/ErrorResponses401"
        "404":
          $ref: "#/components/responses/ErrorResponses404"
        "500":
          $ref: "#/components/responses/ErrorResponses500"
        "503":
          $ref: "#/components/responses/ErrorResponses503"
  
  # --------------------------------------------------------------------------------------------------
  /Broker/WebApi/Service?name=userfunc.doc.Doc&method=getDocView:
    post:
      tags:
        - NotAdminAPI
      summary: (管理者権限不要) 書類表示
      description:
[...]
