# SYSTEM_URL=your_system_url
# ACCESS_TOKEN=your_access_token
MCP_PORT=8002

# クラウド版の場合はIS_CLOUDをtrueにしてください。そうでない場合はfalseもしくは未設定でもよいです
IS_CLOUD=true

# クラウド版の場合はDynamoDBをローカルに構築する必要があります
DYNAMODB_ENDPOINT=http://localhost:8000
AWS_ACCESS_KEY_ID=dummy # ローカルなので何でもよい
AWS_SECRET_ACCESS_KEY=dummy # ローカルなので何でもよい

# クラウド版の場合はAPI利用枠オプション用のエンドポイントを設定してください。
INTERNAL_OPS_API_KEY_URL=xxxx
AW_USAGE_PLAN_API_REQUEST_URL=xxxx